{% extends 'url/base.html' %}
{% load static %}
{% block content %}

<!--
<div class="make-width">
<div class="card h-100"　style="width: 200px;">
  <img class="card-img-top" src="http://images-jp.amazon.com/images/P/4866510552.09.LZZZZZZZ.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-title">{{ name }}</p>
    <a href="#!" class="btn btn-primary">BUY</a>
  </div>
</div>
</div>
-->
<form method="POST" action="{% url 'book:delete_book' %}">
<div class="text-right" style="margin-top:40px;">
<a class="btn btn-outline-primary" href="{% url 'book:create_book' %}"　style="color:#222; text-decoration:underline;">New</a>
</div>
{% for name in names %}
<section>
  <div class="make-card mt-5">
    <ul>
      <li class="make-card-image"><img class="make-card-top" src="{{ name.img_url }}" alt="Card image cap"></li>
      <li class="make-card-title mt-2"><h5 style="color:#333"><strong>{{ name.title }}</strong></h5></li>
      <li class="make-card-link " style="float:left; margin-right:10px;"><a class="btn btn-outline-warning" href="{{ name.amazon_url }}" target="_blank">BUY</a></li>
      <button type="submit" class="btn btn-outline-danger" name="delete_id" value={{ name.id }} style="float: left;">Delete</button>
   </ul>
  </div>
</section>


{% endfor %}
{% csrf_token %}
</form>

{% endblock %}
